html {
	height: 100%;
	width: 100%;
}

body {
	color: #3B3B3B;
	height: 100%;
}

a{
	text-decoration: none;
	color: #3B3B3B;
}

/* Menu */

.modal_menu {
	display: none;
	background-color: #3B3B3B;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 998;
}

.modal_menu .logo a {
	color: #fff;
	z-index: 999;
	transition: -webkit-text-stroke 0.4s, color 0.4s;
}

.modal_menu .logo a:hover {
	color: #3B3B3B;
	-webkit-text-stroke: 1px #fff;
}

.close {
	position: relative;
	display: inline-block;
	float: right;
	padding-left: 40px;
	cursor: pointer;
}

.links_menu {
	position: absolute;
	width: 60%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	text-align: center;
}

.links_menu p {
	display: inline-block;
}

.links_menu p:first-child {
	margin-right: 150px;
}

.links_menu a {
	font-family: 'Lato';
	font-size: 8.125em;
	font-weight: 900;
	color: #fff;
	transition: -webkit-text-stroke 0.4s, color 0.4s;
}

.links_menu a:hover {
	color: #3B3B3B;
	-webkit-text-stroke: 2px #fff;
}

/* Principal */

nav {
	position: relative;
	top: 0;
	padding: 0 5% 0 5%;
	height: 13%;
	font-family: 'Lato';
	font-weight: 400;
	z-index: 997;
}

nav .menu_container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

nav .logo {
	position: relative;
	display: inline-block;
	font-size: 1.5625em;
	font-weight: 900;
	vertical-align: middle;
}

nav .logo a {
	transition: -webkit-text-stroke 0.4s, color 0.4s;
}

nav .logo a:hover {
	color: #fff;
	-webkit-text-stroke: 1px #3B3B3B;
}

nav #language {
	position: relative;
	display: inline-block;
	float: right;
	font-size: 1.25em;
}

nav #language a:hover {
	font-weight: 700;
}

nav .active {
	font-weight: 700;
}

nav #menu {
	position: relative;
	display: inline-block;
	float: right;
	padding-left: 40px;
	cursor: pointer;
}

.projects_list {
	height: 73%;
}

.project_text_home {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 5%;
	z-index: 1;
  width: 60%;
}

.project_text{
	font-family: 'Lato';
  display: inline-block;
}

.project_year {
	font-size: 50px;
	font-weight: 400;

}

.project_name {
	font-size: 8.125em;
	font-weight: 900;
	padding: 5px 0 5px 0;
}

.project_client {
	font-size: 1.875em;
	font-weight: 400;
}

.project_client b {
	font-weight: 700;
}

.project_image {
	float: right;
	height: 100%;
	width: 60%;
	z-index: -1;
}

.project_image img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.nav_buttons {
	position: relative;
	text-align: right;
	height: 13%;
	width: 100%;
}

.nav_buttons .btn_container{
	padding-right: 5%;
	position: relative;
	float: right;
	top: 50%;
	transform: translateY(-50%);
}

.nav_buttons .bar_button {
	cursor: pointer;
 	height: 20px;
 	width: 3px;
 	margin-left: 10px;
 	background-color: #B2B2B2;
 	display: inline-block;
 	transition: width 0.4s, background-color 0.4s;
}

.nav_buttons .active {
	width: 6px;
	background-color: #3B3B3B;
}

.nav_buttons .bar_button:hover {
	width: 6px;
	background-color: #3B3B3B;
}

.slide_01 {
	display: none;
}

.slide_02 {
	display: none;
}

.slide_03 {
	display: none;
}

.slide_04 {
	display: none;
}

.slide_05 {
	display: none;
}

/* Project page */

.project_header {
	display: relative;
	height: 100%;
	transform: translateY(-13%);
	z-index: -1;
}

.project_header img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.project_title {
	background-color: #FFF;
	position: absolute;
	display: inline-block;
	width: 60%;
	padding: 50px 50px 0 50px;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -60%);
	z-index: 1;
}

.project_name_project {
	font-size: 8.125em;
	font-weight: 900;
	padding: 5px 0 5px 0;
}

.project_name {
	transition: -webkit-text-stroke 0.4s, color 0.4s;
}

.project_name:hover {
	color: #fff;
	-webkit-text-stroke: 2px #3B3B3B;
}

.hover {
	color: #fff;
	-webkit-text-stroke: 2px #3B3B3B;
}

.text_block {
	font-family: 'Roboto';
	font-size: 1.125em;
	line-height: 1.5625em;
	padding: 0 17% 0 17%;
}

.text_block p {
	padding: 40px 0 40px 0;
}

.text_block p:first-child{
	margin-top: 250px;
	padding: 0 0 40px 0;
}

.video{
	position: relative;
	display: inline-block;
	padding: 40px 0 40px 0;
	left: 50%;
	transform: translateX(-50%);
	width: 960px;
  height: 540px;
}

.image_G {
	width: 100%;
	padding: 40px 0 40px 0;
}

.image_G img {
	width: 100%;
	height: auto;
}

.grid3x3 {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 40px 0 40px 0;
	left: 50%;
	transform: translateX(-50%);
	width: 74%;
}

.grid3x3 img{
	box-sizing: border-box;
	width: 30%;
	height: auto;
	margin: 0.625em;
}

.team {
	font-family: 'Roboto';
	font-size: 1.125em;
	text-align: center;
	padding: 40px 0 40px 0;
}

.team p {
	line-height: 1.5625em;
}

.team b {
	font-weight: 700;
}

.team .team_name {
	font-family: 'Lato';
	font-size: 1.875em;
	font-weight: 700;
}

.next_project {
	position: relative;
	width: 100%;
	padding-top: 40px;
}

.next_project img{
	width: 100%;
	height: auto;
}

.next_project a {
	transition: -webkit-text-stroke 0.4s, color 0.4s;
}

.next_project a:hover {
	color: #fff;
	-webkit-text-stroke: 1px #3B3B3B;
}

.footer_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Lato';
	font-size: 1.875em;
	font-weight: 900;
	text-align: center;
}

/* About Page */

.contact {
	display: inline-block;
	font-family: 'Lato';
	font-size: 1.4em;
	font-weight: 900;
	line-height: 1.5625em;
	padding-left: 5%;
	margin-top: 40px;
	width: 30%;
}

.contact a {
	transition: -webkit-text-stroke 0.4s, color 0.4s;
}

.contact a:hover {
	color: #fff;
	-webkit-text-stroke: 1px #3B3B3B;
}

.about_me {
	width: 60%;
	margin-top: 20px;
	float: right;
	padding-right: 5%;
	font-family: 'Roboto';
	font-size: 1.125em;
	line-height: 1.5625em;
}

.about_me b {
	font-weight: 900;
}

.about_me_title{
	font-family: 'Lato';
	font-size: 5.625em;
	font-weight: 900;
	line-height: 1.2em;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.description {
	padding: 20px 0 40px 0;
}

.infos {
	display: inline-block;
	padding: 40px 0 80px 0;
}

.companies {
	display: inline-block;
	width: 40%;
}

.companies_title {
	font-family: 'Lato';
	font-size: 1.875em;
	font-weight: 700;
	padding-bottom: 20px;
}

.media {
	display: inline-block;
	float: right;
	width: 59%;
}

.media_images {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
}

.media_images img {
	box-sizing: border-box;
	max-width: 120px;
	width: 100%;
	height: auto;
	padding: 0.4375em;
}